.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  height: 80px;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.4);
  border-radius: 15px;
  padding: 15px
}

.icon {
  display: flex;
  flex: 2;
  margin-right: 10px;
  justify-content: flex-start;
}

.name {
  flex: 7;
}

.data {
  flex: 4;
  text-align: right;
}
