.container {
  flex: 1;
  padding: 20px;
}

.block {
  margin-bottom: 20px;
}

.blockHeader {
  color: #9C9EAA;
  margin-bottom: 20px
}

.blockContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blockItem {
  display: flex;
  justify-content: space-between;
}
